.formContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formContainer .title {
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 400;
}

.input {
  height: 56px;
}

.formArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .personalizacaoInputs {
    display: flex;
    flex-direction: row;
  }
}
