.container {
  display: flex;
  align-items: center;
  float: right;
  padding: 12px;
  border-radius: 8px;
}

.molduraFoto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.molduraFoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nome {
  margin-left: 15px;
  font-size: 16px;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
