.input {
  background-color: var(--input-bg-color);
  color: var(--input-placeholder-color);
  width: 100%;
  border-radius: 10px;
  padding: 0 20px;
  font-weight: 200;
  font-size: 16px;
  cursor: pointer;
  transition: 300ms;
}

.input::placeholder {
  color: var(--input-placeholder-color);
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
}

.input:hover {
  background-color: var(--input-bg-color-hover);
}
