.input {
  background-color: var(--input-bg-color);
  color: var(--input-placeholder-color);
  width: 100%;
  height: 56px;
  border-radius: 10px;
  padding: 0 20px;
  font-weight: 200;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.input::placeholder {
  color: var(--input-placeholder-color);
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
}

.input:hover {
  background-color: var(--input-bg-color-hover);
}
