.buttonContainer {
  background-color: rgba(80, 128, 251, 1);
  color: rgba(5, 29, 59, 1);
  width: 100%;
  height: 56px;
  border-radius: 8px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.1s ease;
}

.buttonContainer:hover {
  background-color: rgba(123, 164, 252, 1);
}

.buttonContainer:focus {
  background-color: rgba(150, 185, 253, 1);
}

.buttonContainer:active {
  box-shadow: 0 0 0 4px rgba(80, 129, 251, 0.72);
  background-color: rgba(123, 164, 252, 1);
}
