.pageContainer {
  padding: 0 2em;
}

.codeAreaContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mainContainer {
  display: flex;
}

.sides {
  flex: 25%;
  padding: 20px;
}

.main {
  flex: 50%;
  padding: 20px;
  overflow: hidden;
}

/* Tablets e Celular em paisagem */
@media screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .sides:first-child {
    display: none;
  }
}

/* Celular */
@media screen and (max-width: 425px) {
  .pageContainer {
    padding: 0 1em;
  }

  .codeAreaContainer {
    gap: 30px;
  }

  .main {
    padding: 0;
  }

  .sides {
    padding: 0;
    padding-top: 40px;
  }
}
