.pageContainer {
  padding: 0 2em;
}

.codeAreaContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mainContainer {
  display: flex;
}

.sides {
  flex: 0 0 25%;
  padding: 20px;
}

.main {
  flex: 0 0 50%;
  padding: 20px;
}
