.item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.item p {
  margin-left: 15px;
  color: var(--main-text-disable);
  transition: color 0.3s ease;
}

.item svg {
  background-color: var(--button-bg-color-disable);
  color: var(--main-text-disable);
  width: 48px;
  height: 48px;
  border-radius: 16px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-width 0.1s ease;
}

.item:hover p {
  color: var(--main-text-hover);
}
.item:hover svg {
  background-color: var(--button-bg-color-hover);
  color: var(--main-text-hover);
}

.item:active svg {
  border: var(--light-button-active) 4px solid;
}

.item:focus {
  outline: none;
}

.item:focus svg {
  background-color: var(--light-button-focus);
}

.ativo p {
  color: var(--main-text);
}

.ativo svg {
  background-color: var(--button-bg-color);
  color: var(--main-text);
}
