.item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.item p {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.56);
  transition: color 0.3s ease;
}

.item svg {
  background-color: rgba(80, 129, 251, 0.16);
  color: rgba(255, 255, 255, 0.56);
  width: 48px;
  height: 48px;
  border-radius: 16px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.item:focus {
  outline: none;
}

.item:focus svg {
  background-color: rgba(80, 129, 251, 1);
}

.item:hover p {
  color: rgba(255, 255, 255, 0.72);
}
.item:hover svg {
  background-color: rgba(80, 129, 251, 0.64);
  color: rgba(255, 255, 255, 0.72);
}

.item:active svg {
  background-color: rgba(80, 129, 251, 1);
}

.ativo p {
  color: white;
}

.ativo svg {
  background-color: rgba(80, 128, 251, 1);
  color: white;
}
