/* Reset CSS padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #051d3b;

  /* Text */
  --main-text: rgba(255, 255, 255);
  --main-text-hover: rgba(255, 255, 255, 0.72);
  --main-text-disable: rgba(255, 255, 255, 0.56);

  /* input */
  --input-bg-color: rgba(255, 255, 255, 0.16);
  --input-bg-color-hover: rgba(255, 255, 255, 0.24);
  --input-placeholder-color: rgba(255, 255, 255, 0.6);

  /* buttons */
  /* --button-bg-color: rgba(80, 128, 251, 1); */

  /* Menu buttons */
  --button-bg-color-hover: rgba(80, 128, 251, 0.64);
  --button-bg-color-disable: rgba(80, 128, 251, 0.16);

  /* light button */
  /* --button-text-color: rgba(5, 29, 59, 1); */
  /* --light-button-hover: rgba(123, 164, 252, 1);
  --light-button-active: rgba(80, 129, 251, 0.72);
  --light-button-focus: rgba(150, 185, 253, 1); */

  /* dark button */
  /* --dark-button-bg-color: rgba(80, 129, 251, 0.08);
  --dark-button-hover: rgba(80, 129, 251, 0.16);
  --dark-button-active: rgba(80, 129, 251, 0.24);
  --dark-button-focus: rgba(80, 129, 251, 0.24); */
}

html,
body {
  height: 100%;
  color: var(--main-text);
  background-color: var(--dark-blue);
  font-family: inter, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
