/* Reset CSS padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #051d3b;

  /* Text */
  --main-text: rgba(255, 255, 255);
  --main-text-hover: rgba(255, 255, 255, 0.72);
  --main-text-disable: rgba(255, 255, 255, 0.56);

  /* input */
  --input-bg-color: rgba(255, 255, 255, 0.16);
  --input-bg-color-hover: rgba(255, 255, 255, 0.24);
  --input-placeholder-color: rgba(255, 255, 255, 0.6);

  /* button */
  --button-bg-color: rgba(80, 128, 251, 1);
  --button-bg-color-hover: rgba(80, 128, 251, 0.64);
  --button-bg-color-disable: rgba(80, 128, 251, 0.16);
}

html,
body {
  height: 100%;
  color: var(--main-text);
  background-color: var(--dark-blue);
  font-family: inter, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
